<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date_of_visit %><br>
    <%= f.date_select :date_of_visit %>
  </div>
  <div class="field">
    <%= f.label :pet_id %><br>
    <%= f.collection_select(:pet_id, Pet.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :doctor_id %><br>
    <%= f.collection_select(:doctor_id, Doctor.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :requires_reminder %><br>
    <%= f.check_box :requires_reminder %>
  </div>
  <div class="field">
    <%= f.label :reason_for_visit %><br>
    <%= f.text_field :reason_for_visit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
